.navbar-brand {
  font-size: 30px;
  margin-right: 20px;
  margin-left: 20px;
}

.menu-item {
  font-size: 20px;
  text-align: right;
}

.btn-success {
  background-color: #4CAF50;
  border: none;
  color: #fff;
  padding: 15px 32px;
  margin: 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-brand {
    font-size: 20px;
  }

  .btn-success {
    padding: 10px 20px;
    margin: 5px;
    font-size: 15px;
  }
}