.navbar-brand {
  font-size: 30px;
  margin-right: 20px;
  margin-left: 20px;
}

.menu-item {
  font-size: 20px;
  text-align: right;
}

.btn-success {
  background-color: #4CAF50;
  border: none;
  color: #fff;
  padding: 15px 32px;
  margin: 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-brand {
    font-size: 20px;
  }

  .btn-success {
    padding: 10px 20px;
    margin: 5px;
    font-size: 15px;
  }
}

.card {
  border: 3px solid #e6e6e6;
  border-radius: 40px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  padding: 20px;
  margin-top: 130px;
}

@media (max-width: 768px) {
  .card {
    margin-top: 80px;
  }

  .card-body {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .card {
    margin-top: 50px;
  }
}

@media (max-width: 1200) {
  .card {
    margin-top: 100px;
  }
}

.exchange-rates {
  padding: 20px;
  margin: 50px 150px;
  border-radius: 40px;
}

@media (max-width: 1200px) {
  .exchange-rates {
    margin: 50px 7%;
  }
}

@media (max-width: 866px) {
  .exchange-rates {
    margin: 50px 3%;
  }
}

@media (max-width: 576px) {
  .exchange-rates {
    margin: 50px 1%;
  }
}

.base-currency-box {
  padding: 15px 10px 8px 0px;
}

.choose-base-currency {
  margin-left: 80px;
  margin-right: 10px;
  font-size: 16px;
}

@media (max-width: 540px) {
  .choose-base-currency {
    margin-left: 0px;
    margin-right: 5px;
    font-size: 16px;
  }
}

.currency-rates {
  columns: 3;
  padding: 30px;
  margin-left: 50px;
}

@media (max-width: 744px) {
  .currency-rates {
    padding: 5px;
    margin-top: 5px;
  }
}

@media (max-width: 560px) {
  .currency-rates {
    padding: 5px;
    margin-left: 10px;
  }
}

@media (max-width: 450px) {
  .currency-rates {
    padding: 2px;
    margin-left: 10px;
    columns: 2;
  }
}

@media (max-width: 340px) {
  .currency-rates {
    padding: 2px;
    margin-left: 50px;
    columns: 1;
  }
}

footer {
  background-color: #f2f2f2;
  padding: 25px;
  margin-top: 50px;
}

.linkedin,
.github {
  margin: 0 10px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 40px;
  text-decoration: none;
}

@media (max-width: 768px) {

  .linkedin,
  .github {
    margin: 0 5px;
    padding: 5px;
  }
}